# Machine Learning
## Assignment 1
### Morgan Reilly -- 20235398

## Imports

In [17]:
import pandas as pd
import sklearn as sk
import numpy as np
import csv

## Text Processing

* Create csv file from text file
* Read in text file and transpose to csv

In [23]:
# Read in and store training data as datafram
training_data = pd.read_csv("data/beer_training.txt",
                            sep="\t", header=None)

In [24]:
training_data.head()

,0,1,2,3,4,5,6,7,8,9
0,45.305310,0.459548,1.917273,ale,4.227692,16.67,12.568947,167,11.04,62.178571
1,43.889381,0.548977,3.186364,ale,4.289231,16.73,14.974000,128,13.44,63.032857
2,41.588496,0.542847,1.568182,ale,4.344615,16.48,11.848789,88,14.04,63.468571
3,44.553097,0.480301,1.871818,ale,4.424615,18.59,13.879632,147,12.48,63.531429
4,41.013274,0.441860,2.345455,ale,4.264615,16.35,12.186053,74,12.12,63.747143

In [25]:
training_data.columns = ['calorific_value', 'nitrogen', 'turbidity',
                        'style', 'alcohol', 'sugars', 'bitterness',
                        'beer_id', 'colour', 'degree_of_fermentation']
# Convert to csv file and save
training_data.to_csv("data/beer_training.csv", index=None)

In [26]:
training_data = pd.read_csv("data/beer_training.csv")
training_data.head()

,calorific_value,nitrogen,turbidity,style,alcohol,sugars,bitterness,beer_id,colour,degree_of_fermentation
0,45.305310,0.459548,1.917273,ale,4.227692,16.67,12.568947,167,11.04,62.178571
1,43.889381,0.548977,3.186364,ale,4.289231,16.73,14.974000,128,13.44,63.032857
2,41.588496,0.542847,1.568182,ale,4.344615,16.48,11.848789,88,14.04,63.468571
3,44.553097,0.480301,1.871818,ale,4.424615,18.59,13.879632,147,12.48,63.531429
4,41.013274,0.441860,2.345455,ale,4.264615,16.35,12.186053,74,12.12,63.747143